<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Pedido</title>
    <style></style>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Confirmación de Pedido</h2>
    </div>
    <p>Hola <strong th:text="${firstName}">[Nombre Cliente]</strong>,</p>
    <p>¡Gracias por tu pedido! Aquí tienes los detalles:</p>
    <p><strong>ID de Pedido:</strong> <span th:text="${orderId}">[ID Pedido]</span></p>
    <p><strong>Fecha de Pedido:</strong> <span th:text="${#temporals.format(orderDate, 'dd MMM, yyyy')}">[Fecha Pedido]</span></p>

    <h3>Artículos Pedidos:</h3>
    <div th:each="item : ${items}" class="item">
        <div class="item-details">
            <strong th:text="${item.productName}">[Nombre Producto]</strong><br/>
            <span>Cantidad: <span th:text="${item.amount}">[Cant]</span></span><br/>
            <span>Precio: $<span th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 2, 'POINT')}">[Precio]</span></span>
        </div>
    </div>

    <div class="total">
        Precio Total: $<span th:text="${#numbers.formatDecimal(finalPrice, 1, 'COMMA', 2, 'POINT')}">[Precio Total]</span>
    </div>

    <p>¡Gracias por comprar con nosotros!</p>
</div>
</body>
</html>