server:
  port: 8080

spring:
  application:
    name: gateway
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**, /images/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 40
                key-resolver: "#{@userKeyResolver}"
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 40
                key-resolver: "#{@userKeyResolver}"
        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/carts/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 40
                key-resolver: "#{@userKeyResolver}"
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-skt01p8dhor0esjl.us.auth0.com/
          audiences: https://ddsi.com/api/ddsi-poc-microservicios
management:
  endpoints:
    web:
      exposure:
        include: health, info  # Habilita los endpoints health e info
  endpoint:
    health:
      show-details: always  # Muestra todos los detalles en /actuator/health


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true


