server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**, /images/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/**
        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/carts/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-skt01p8dhor0esjl.us.auth0.com/
          audiences: https://ddsi.com/api/ddsi-poc-microservicios
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus  # Habilita los endpoints health e info
  endpoint:
    health:
      show-details: always  # Muestra todos los detalles en /actuator/health
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: gateway-service
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true


